<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Saved Articles</a>
        </div>>
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <a href="/saved">Saved Articles</a>
            </li>
        </ul>

    </div>
    <!--/.container-fluid -->
</nav>
<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Saved Articles</h1>
        <h2>Your Articles</h2>
    </div>
</div>
<div class="container-fluid article-container">

    {{!-- This is how we can get it done with HandleBars --}}
    {{!-- Unless check for those that are false, which means those that haven't been saved yet --}}

    {{#each articles}} {{#if this.saved}}
    <div class='panel'>
        <h3> {{this.title}}</h3>

        <div class='panel-body'>
            <p>{{this.summary}}</p>
            <a href="{{this.link}}" target='_blank'>Read Full Article</a>

            {{!-- // TODO --}}
            {{!-- Handle Save Article button to save in DB --}}
            <button class='btn btn-success note' data-toggle="modal" data-target="#noteModal" data-id="{{this._id}}">Add/View Note</button>
            <button class='btn btn-danger delete' data-id="{{this._id}}">Delete Article</button>
        </div>

              <!-- Modal -->
      <div id="noteModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <!--title including the id of the current article-->
                      <h4 class="modal-title" id=""><b>Notes:</b></h4>
                      <!--where notes will be displayed-->
                      <div>
                          <ul id="notesBody">

                          </ul>
                      </div>
                  </div>
                  <div class="modal-body">
                      <div class="form-group">

                          <label for="exampleTextarea">Enter New Note</label>
                          <!--enter note text-->
                          <textarea class="form-control" id="notestext" rows="3"></textarea>
                      </div>
                      <div><!--enter saved notes here--></div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button data-id={{_id}}  data-dismiss="modal" id="saveNote" class="btn btn-primary savenote">Save changes</button>
                  </div>
              </div>
          </div>
      </div>

    </div>
    {{/if}} {{/each}}

</div>

<footer class=" footer">
    <div class="container">
        <p>Relix Mongo Scraper</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/js/app.js"></script>